vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Jun 2006 22:19:12 -0000
vti_extenderversion:SR|4.0.2.7802
vti_cacheddtm:TX|14 Jun 2006 22:19:12 -0000
vti_filesize:IR|8491
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_backlinkinfo:VX|phone/driveracknowledge.asp phone/drivertobepickedup.asp phone/default.asp phone/driveracknowledge_test.asp phone/driverclose.asp phone/driverclose_old.asp phone/driverhandoff.asp phone/default_old.asp phone/driverclosewafer.asp phone/driverlogin.asp phone/drivervehicle.asp phone/getjobdetails.asp phone/driverhomepage.asp phone/drivermessage.asp phone/drivertracking.asp phone/drivertruckload.asp phone/driveracknowledge_old.asp phone/driverifabphoneemulator.asp
